{% import '_macros/active.twig' as macroActive %}

{% set navName = navName ??? 'DefaultNav' %}
{% set navItems = navItems ??? null %}
{% set navLinkInherits = navLinkInherits ?? true %}

{% set navClasses = navClasses ??? null %}
{% set navListClasses = navListClasses ??? 'list-none p-0' %}
{% set navItemClasses = navItemClasses ??? null %}
{% set navLinkClasses = navLinkClasses ??? null %}

{% if navItems and navItems|length %}
	<nav class="{{ navName }}{{ navClasses ? ' ' ~ navClasses }}">
		<ul class="{{ navName ~ '-list' }}{{ navListClasses ? ' ' ~ navListClasses }}">
			{% for navItem in navItems %}
				{% set navItemLink = navItem.fieldLink %}
				<li class="{{ navName ~ '-item' }}{{ navItemClasses ? ' ' ~ navItemClasses }}{{ macroActive.isActive(navItemLink, 'is-active') }}">					
					{% include "_macros/button/button" with {
						element: navItemLink,
						style: 'nav ' ~ ((navName ~ '-link') ~ (navLinkInherits ? ' Nav-link') ~ (navLinkClasses ? ' ' ~ navLinkClasses))
					} %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
